{% extends 'base.html.twig' %}

{% block title %}Ma bibliothèque{% endblock %}

{% block body %}
    <h1>Mes livres</h1>
    <h1>Test H1</h1>
    
    {% include "book/_list.html.twig" %}

{% endblock %}
